--
-- PostgreSQL database dump
--

\restrict 3wn5doebvKFPfUPolRnCt4FbtEPtRt2rIFhdEBOkyaAt7IurHJlGNbvq4fceyY5

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alert_events; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.alert_events (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    alert_id uuid NOT NULL,
    event_source text,
    event_data jsonb,
    "timestamp" timestamp without time zone
);


ALTER TABLE public.alert_events OWNER TO admin;

--
-- Name: alerts; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.alerts (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    asset_id uuid NOT NULL,
    severity text,
    alert_type text,
    description text,
    created_at timestamp without time zone
);


ALTER TABLE public.alerts OWNER TO admin;

--
-- Name: api_endpoints; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.api_endpoints (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    asset_id uuid NOT NULL,
    endpoint_path text,
    method text,
    auth_type text
);


ALTER TABLE public.api_endpoints OWNER TO admin;

--
-- Name: api_keys; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.api_keys (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    organization_id uuid NOT NULL,
    api_key text,
    permissions text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.api_keys OWNER TO admin;

--
-- Name: api_services; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.api_services (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    asset_id uuid NOT NULL,
    service_name text,
    version text
);


ALTER TABLE public.api_services OWNER TO admin;

--
-- Name: asset_metadata; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.asset_metadata (
    asset_id uuid NOT NULL,
    owner_team text,
    environment text,
    cloud_provider text,
    region text
);


ALTER TABLE public.asset_metadata OWNER TO admin;

--
-- Name: asset_registry; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.asset_registry (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    organization_id uuid NOT NULL,
    asset_identifier text,
    asset_type text,
    first_seen timestamp without time zone,
    last_seen timestamp without time zone,
    status text,
    criticality text
);


ALTER TABLE public.asset_registry OWNER TO admin;

--
-- Name: asset_risk_scores; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.asset_risk_scores (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    asset_id uuid NOT NULL,
    score integer,
    risk_category text
);


ALTER TABLE public.asset_risk_scores OWNER TO admin;

--
-- Name: asset_tags; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.asset_tags (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    asset_id uuid NOT NULL,
    tag text
);


ALTER TABLE public.asset_tags OWNER TO admin;

--
-- Name: asset_vulnerabilities; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.asset_vulnerabilities (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    snapshot_id uuid NOT NULL,
    vulnerability_id uuid NOT NULL
);


ALTER TABLE public.asset_vulnerabilities OWNER TO admin;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    action text,
    resource text,
    "timestamp" timestamp without time zone
);


ALTER TABLE public.audit_logs OWNER TO admin;

--
-- Name: cbom_inventory; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.cbom_inventory (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    asset_id uuid NOT NULL,
    tls_version text,
    cipher_suite text,
    key_exchange text,
    certificate_id uuid,
    quantum_risk text
);


ALTER TABLE public.cbom_inventory OWNER TO admin;

--
-- Name: certificates; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.certificates (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    asset_id uuid NOT NULL,
    issuer text,
    subject text,
    signature_algorithm text,
    key_size integer,
    expiry_date date
);


ALTER TABLE public.certificates OWNER TO admin;

--
-- Name: cloud_accounts; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.cloud_accounts (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    organization_id uuid NOT NULL,
    cloud_provider text,
    account_id text
);


ALTER TABLE public.cloud_accounts OWNER TO admin;

--
-- Name: cloud_assets; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.cloud_assets (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    cloud_account_id uuid NOT NULL,
    resource_id text,
    resource_type text,
    region text
);


ALTER TABLE public.cloud_assets OWNER TO admin;

--
-- Name: compliance_reports; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.compliance_reports (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    organization_id uuid,
    report_type text,
    generated_at timestamp without time zone
);


ALTER TABLE public.compliance_reports OWNER TO admin;

--
-- Name: dns_records; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.dns_records (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    subdomain_id uuid NOT NULL,
    record_type text,
    value text,
    ttl integer
);


ALTER TABLE public.dns_records OWNER TO admin;

--
-- Name: domains; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.domains (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    organization_id uuid NOT NULL,
    domain_name text
);


ALTER TABLE public.domains OWNER TO admin;

--
-- Name: event_stream; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.event_stream (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    event_type text,
    payload jsonb,
    created_at timestamp without time zone
);


ALTER TABLE public.event_stream OWNER TO admin;

--
-- Name: organizations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.organizations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    industry character varying(100),
    country character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.organizations OWNER TO admin;

--
-- Name: port_scan_results; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.port_scan_results (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    asset_id uuid NOT NULL,
    port integer,
    protocol text,
    state text,
    scan_time timestamp without time zone
);


ALTER TABLE public.port_scan_results OWNER TO admin;

--
-- Name: pqc_analysis; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.pqc_analysis (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    asset_id uuid NOT NULL,
    algorithm text,
    pqc_ready boolean,
    recommended_upgrade text
);


ALTER TABLE public.pqc_analysis OWNER TO admin;

--
-- Name: risk_model_features; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.risk_model_features (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    asset_id uuid NOT NULL,
    feature_name text,
    feature_value double precision
);


ALTER TABLE public.risk_model_features OWNER TO admin;

--
-- Name: risk_predictions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.risk_predictions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    asset_id uuid NOT NULL,
    model_version text,
    predicted_risk double precision,
    confidence double precision
);


ALTER TABLE public.risk_predictions OWNER TO admin;

--
-- Name: risk_scores; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.risk_scores (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    organization_id uuid NOT NULL,
    score integer,
    risk_level text,
    calculated_at timestamp without time zone
);


ALTER TABLE public.risk_scores OWNER TO admin;

--
-- Name: scan_deltas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.scan_deltas (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    asset_id uuid NOT NULL,
    previous_snapshot uuid,
    current_snapshot uuid,
    change_type text,
    change_description text
);


ALTER TABLE public.scan_deltas OWNER TO admin;

--
-- Name: scan_events; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.scan_events (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    scan_id uuid NOT NULL,
    event_type text,
    event_data jsonb,
    "timestamp" timestamp without time zone
);


ALTER TABLE public.scan_events OWNER TO admin;

--
-- Name: scan_jobs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.scan_jobs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    organization_id uuid NOT NULL,
    scan_type text,
    trigger text,
    status text,
    started_at timestamp without time zone,
    finished_at timestamp without time zone
);


ALTER TABLE public.scan_jobs OWNER TO admin;

--
-- Name: scan_snapshots; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.scan_snapshots (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    scan_id uuid NOT NULL,
    asset_id uuid NOT NULL,
    snapshot_time timestamp without time zone
);


ALTER TABLE public.scan_snapshots OWNER TO admin;

--
-- Name: subdomains; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.subdomains (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    domain_id uuid NOT NULL,
    subdomain text,
    ip_address inet,
    last_seen timestamp without time zone
);


ALTER TABLE public.subdomains OWNER TO admin;

--
-- Name: tls_scan_results; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tls_scan_results (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    asset_id uuid NOT NULL,
    tls_version text,
    cipher_suite text,
    key_exchange text,
    forward_secrecy boolean,
    scan_time timestamp without time zone
);


ALTER TABLE public.tls_scan_results OWNER TO admin;

--
-- Name: topology_edges; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.topology_edges (
    source_node uuid,
    target_node uuid,
    relation_type text
);


ALTER TABLE public.topology_edges OWNER TO admin;

--
-- Name: topology_nodes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.topology_nodes (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    node_type text,
    value text
);


ALTER TABLE public.topology_nodes OWNER TO admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    organization_id uuid NOT NULL,
    name character varying(200),
    email character varying(200) NOT NULL,
    role character varying(50),
    password_hash text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: vulnerabilities; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.vulnerabilities (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    cve_id text,
    severity text,
    description text,
    published_date date
);


ALTER TABLE public.vulnerabilities OWNER TO admin;

--
-- Data for Name: alert_events; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.alert_events (id, alert_id, event_source, event_data, "timestamp") FROM stdin;
\.


--
-- Data for Name: alerts; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.alerts (id, asset_id, severity, alert_type, description, created_at) FROM stdin;
\.


--
-- Data for Name: api_endpoints; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.api_endpoints (id, asset_id, endpoint_path, method, auth_type) FROM stdin;
\.


--
-- Data for Name: api_keys; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.api_keys (id, organization_id, api_key, permissions, created_at) FROM stdin;
\.


--
-- Data for Name: api_services; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.api_services (id, asset_id, service_name, version) FROM stdin;
\.


--
-- Data for Name: asset_metadata; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.asset_metadata (asset_id, owner_team, environment, cloud_provider, region) FROM stdin;
\.


--
-- Data for Name: asset_registry; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: asset_risk_scores; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.asset_risk_scores (id, asset_id, score, risk_category) FROM stdin;
\.


--
-- Data for Name: asset_tags; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.asset_tags (id, asset_id, tag) FROM stdin;
\.


--
-- Data for Name: asset_vulnerabilities; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.asset_vulnerabilities (id, snapshot_id, vulnerability_id) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.audit_logs (id, user_id, action, resource, "timestamp") FROM stdin;
\.


--
-- Data for Name: cbom_inventory; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: certificates; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: cloud_accounts; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.cloud_accounts (id, organization_id, cloud_provider, account_id) FROM stdin;
\.


--
-- Data for Name: cloud_assets; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.cloud_assets (id, cloud_account_id, resource_id, resource_type, region) FROM stdin;
\.


--
-- Data for Name: compliance_reports; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.compliance_reports (id, organization_id, report_type, generated_at) FROM stdin;
\.


--
-- Data for Name: dns_records; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.dns_records (id, subdomain_id, record_type, value, ttl) FROM stdin;
\.


--
-- Data for Name: domains; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.domains (id, organization_id, domain_name) FROM stdin;
3d93ad20-6efe-4ed3-a9c9-1237ed447c8a	10024715-cd08-49a4-b316-4f394c14d267	tesla.com
\.


--
-- Data for Name: event_stream; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.event_stream (id, event_type, payload, created_at) FROM stdin;
\.


--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.organizations (id, name, industry, country, created_at) FROM stdin;
10024715-cd08-49a4-b316-4f394c14d267	Demo Organization	Technology	US	2026-03-08 10:26:41.403355
\.


--
-- Data for Name: port_scan_results; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: pqc_analysis; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.pqc_analysis (id, asset_id, algorithm, pqc_ready, recommended_upgrade) FROM stdin;
\.


--
-- Data for Name: risk_model_features; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.risk_model_features (id, asset_id, feature_name, feature_value) FROM stdin;
\.


--
-- Data for Name: risk_predictions; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.risk_predictions (id, asset_id, model_version, predicted_risk, confidence) FROM stdin;
\.


--
-- Data for Name: risk_scores; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.risk_scores (id, organization_id, score, risk_level, calculated_at) FROM stdin;
\.


--
-- Data for Name: scan_deltas; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.scan_deltas (id, asset_id, previous_snapshot, current_snapshot, change_type, change_description) FROM stdin;
\.


--
-- Data for Name: scan_events; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.scan_events (id, scan_id, event_type, event_data, "timestamp") FROM stdin;
\.


--
-- Data for Name: scan_jobs; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.scan_jobs (id, organization_id, scan_type, trigger, status, started_at, finished_at) FROM stdin;
\.


--
-- Data for Name: scan_snapshots; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.scan_snapshots (id, scan_id, asset_id, snapshot_time) FROM stdin;
\.


--
-- Data for Name: subdomains; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: tls_scan_results; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: topology_edges; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.topology_edges (source_node, target_node, relation_type) FROM stdin;
\.


--
-- Data for Name: topology_nodes; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.topology_nodes (id, node_type, value) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.users (id, organization_id, name, email, role, password_hash, created_at) FROM stdin;
\.


--
-- Data for Name: vulnerabilities; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.vulnerabilities (id, cve_id, severity, description, published_date) FROM stdin;
\.


--
-- Name: alert_events alert_events_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.alert_events
    ADD CONSTRAINT alert_events_pkey PRIMARY KEY (id);


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: api_endpoints api_endpoints_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.api_endpoints
    ADD CONSTRAINT api_endpoints_pkey PRIMARY KEY (id);


--
-- Name: api_keys api_keys_api_key_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_api_key_key UNIQUE (api_key);


--
-- Name: api_keys api_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_pkey PRIMARY KEY (id);


--
-- Name: api_services api_services_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.api_services
    ADD CONSTRAINT api_services_pkey PRIMARY KEY (id);


--
-- Name: asset_metadata asset_metadata_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.asset_metadata
    ADD CONSTRAINT asset_metadata_pkey PRIMARY KEY (asset_id);


--
-- Name: asset_registry asset_registry_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.asset_registry
    ADD CONSTRAINT asset_registry_pkey PRIMARY KEY (id);


--
-- Name: asset_risk_scores asset_risk_scores_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.asset_risk_scores
    ADD CONSTRAINT asset_risk_scores_pkey PRIMARY KEY (id);


--
-- Name: asset_tags asset_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.asset_tags
    ADD CONSTRAINT asset_tags_pkey PRIMARY KEY (id);


--
-- Name: asset_vulnerabilities asset_vulnerabilities_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.asset_vulnerabilities
    ADD CONSTRAINT asset_vulnerabilities_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: cbom_inventory cbom_inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cbom_inventory
    ADD CONSTRAINT cbom_inventory_pkey PRIMARY KEY (id);


--
-- Name: certificates certificates_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_pkey PRIMARY KEY (id);


--
-- Name: cloud_accounts cloud_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cloud_accounts
    ADD CONSTRAINT cloud_accounts_pkey PRIMARY KEY (id);


--
-- Name: cloud_assets cloud_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cloud_assets
    ADD CONSTRAINT cloud_assets_pkey PRIMARY KEY (id);


--
-- Name: compliance_reports compliance_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.compliance_reports
    ADD CONSTRAINT compliance_reports_pkey PRIMARY KEY (id);


--
-- Name: dns_records dns_records_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dns_records
    ADD CONSTRAINT dns_records_pkey PRIMARY KEY (id);


--
-- Name: domains domains_domain_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.domains
    ADD CONSTRAINT domains_domain_name_key UNIQUE (domain_name);


--
-- Name: domains domains_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.domains
    ADD CONSTRAINT domains_pkey PRIMARY KEY (id);


--
-- Name: event_stream event_stream_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.event_stream
    ADD CONSTRAINT event_stream_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: port_scan_results port_scan_results_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.port_scan_results
    ADD CONSTRAINT port_scan_results_pkey PRIMARY KEY (id);


--
-- Name: pqc_analysis pqc_analysis_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.pqc_analysis
    ADD CONSTRAINT pqc_analysis_pkey PRIMARY KEY (id);


--
-- Name: risk_model_features risk_model_features_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.risk_model_features
    ADD CONSTRAINT risk_model_features_pkey PRIMARY KEY (id);


--
-- Name: risk_predictions risk_predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.risk_predictions
    ADD CONSTRAINT risk_predictions_pkey PRIMARY KEY (id);


--
-- Name: risk_scores risk_scores_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.risk_scores
    ADD CONSTRAINT risk_scores_pkey PRIMARY KEY (id);


--
-- Name: scan_deltas scan_deltas_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.scan_deltas
    ADD CONSTRAINT scan_deltas_pkey PRIMARY KEY (id);


--
-- Name: scan_events scan_events_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.scan_events
    ADD CONSTRAINT scan_events_pkey PRIMARY KEY (id);


--
-- Name: scan_jobs scan_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.scan_jobs
    ADD CONSTRAINT scan_jobs_pkey PRIMARY KEY (id);


--
-- Name: scan_snapshots scan_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.scan_snapshots
    ADD CONSTRAINT scan_snapshots_pkey PRIMARY KEY (id);


--
-- Name: subdomains subdomains_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.subdomains
    ADD CONSTRAINT subdomains_pkey PRIMARY KEY (id);


--
-- Name: tls_scan_results tls_scan_results_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tls_scan_results
    ADD CONSTRAINT tls_scan_results_pkey PRIMARY KEY (id);


--
-- Name: topology_nodes topology_nodes_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.topology_nodes
    ADD CONSTRAINT topology_nodes_pkey PRIMARY KEY (id);


--
-- Name: cbom_inventory unique_cbom_asset; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cbom_inventory
    ADD CONSTRAINT unique_cbom_asset UNIQUE (asset_id);


--
-- Name: subdomains unique_subdomain; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.subdomains
    ADD CONSTRAINT unique_subdomain UNIQUE (subdomain);


--
-- Name: tls_scan_results unique_tls_asset; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tls_scan_results
    ADD CONSTRAINT unique_tls_asset UNIQUE (asset_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vulnerabilities vulnerabilities_cve_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vulnerabilities
    ADD CONSTRAINT vulnerabilities_cve_id_key UNIQUE (cve_id);


--
-- Name: vulnerabilities vulnerabilities_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vulnerabilities
    ADD CONSTRAINT vulnerabilities_pkey PRIMARY KEY (id);


--
-- Name: idx_alert_asset; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_alert_asset ON public.alerts USING btree (asset_id);


--
-- Name: idx_asset_org; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_asset_org ON public.asset_registry USING btree (organization_id);


--
-- Name: idx_event_type; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_event_type ON public.event_stream USING btree (event_type);


--
-- Name: idx_port_asset; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_port_asset ON public.port_scan_results USING btree (asset_id);


--
-- Name: idx_scan_asset; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_scan_asset ON public.scan_snapshots USING btree (asset_id);


--
-- Name: idx_tls_asset; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_tls_asset ON public.tls_scan_results USING btree (asset_id);


--
-- Name: idx_vuln_snapshot; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_vuln_snapshot ON public.asset_vulnerabilities USING btree (snapshot_id);


--
-- Name: unique_certificate; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX unique_certificate ON public.certificates USING btree (asset_id, signature_algorithm, expiry_date);


--
-- Name: unique_port_scan; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX unique_port_scan ON public.port_scan_results USING btree (asset_id, port);


--
-- Name: unique_tls_scan; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX unique_tls_scan ON public.tls_scan_results USING btree (asset_id, cipher_suite);


--
-- Name: alert_events alert_events_alert_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.alert_events
    ADD CONSTRAINT alert_events_alert_id_fkey FOREIGN KEY (alert_id) REFERENCES public.alerts(id) ON DELETE CASCADE;


--
-- Name: alerts alerts_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.asset_registry(id) ON DELETE CASCADE;


--
-- Name: api_endpoints api_endpoints_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.api_endpoints
    ADD CONSTRAINT api_endpoints_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.asset_registry(id) ON DELETE CASCADE;


--
-- Name: api_keys api_keys_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: api_services api_services_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.api_services
    ADD CONSTRAINT api_services_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.asset_registry(id) ON DELETE CASCADE;


--
-- Name: asset_metadata asset_metadata_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.asset_metadata
    ADD CONSTRAINT asset_metadata_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.asset_registry(id) ON DELETE CASCADE;


--
-- Name: asset_registry asset_registry_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.asset_registry
    ADD CONSTRAINT asset_registry_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: asset_risk_scores asset_risk_scores_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.asset_risk_scores
    ADD CONSTRAINT asset_risk_scores_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.asset_registry(id) ON DELETE CASCADE;


--
-- Name: asset_tags asset_tags_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.asset_tags
    ADD CONSTRAINT asset_tags_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.asset_registry(id) ON DELETE CASCADE;


--
-- Name: asset_vulnerabilities asset_vulnerabilities_snapshot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.asset_vulnerabilities
    ADD CONSTRAINT asset_vulnerabilities_snapshot_id_fkey FOREIGN KEY (snapshot_id) REFERENCES public.scan_snapshots(id) ON DELETE CASCADE;


--
-- Name: asset_vulnerabilities asset_vulnerabilities_vulnerability_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.asset_vulnerabilities
    ADD CONSTRAINT asset_vulnerabilities_vulnerability_id_fkey FOREIGN KEY (vulnerability_id) REFERENCES public.vulnerabilities(id);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: cbom_inventory cbom_inventory_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cbom_inventory
    ADD CONSTRAINT cbom_inventory_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.asset_registry(id) ON DELETE CASCADE;


--
-- Name: cbom_inventory cbom_inventory_certificate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cbom_inventory
    ADD CONSTRAINT cbom_inventory_certificate_id_fkey FOREIGN KEY (certificate_id) REFERENCES public.certificates(id);


--
-- Name: certificates certificates_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.asset_registry(id) ON DELETE CASCADE;


--
-- Name: cloud_accounts cloud_accounts_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cloud_accounts
    ADD CONSTRAINT cloud_accounts_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: cloud_assets cloud_assets_cloud_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cloud_assets
    ADD CONSTRAINT cloud_assets_cloud_account_id_fkey FOREIGN KEY (cloud_account_id) REFERENCES public.cloud_accounts(id) ON DELETE CASCADE;


--
-- Name: compliance_reports compliance_reports_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.compliance_reports
    ADD CONSTRAINT compliance_reports_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: dns_records dns_records_subdomain_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.dns_records
    ADD CONSTRAINT dns_records_subdomain_id_fkey FOREIGN KEY (subdomain_id) REFERENCES public.subdomains(id) ON DELETE CASCADE;


--
-- Name: domains domains_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.domains
    ADD CONSTRAINT domains_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: port_scan_results port_scan_results_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.port_scan_results
    ADD CONSTRAINT port_scan_results_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.asset_registry(id) ON DELETE CASCADE;


--
-- Name: pqc_analysis pqc_analysis_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.pqc_analysis
    ADD CONSTRAINT pqc_analysis_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.asset_registry(id) ON DELETE CASCADE;


--
-- Name: risk_model_features risk_model_features_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.risk_model_features
    ADD CONSTRAINT risk_model_features_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.asset_registry(id) ON DELETE CASCADE;


--
-- Name: risk_predictions risk_predictions_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.risk_predictions
    ADD CONSTRAINT risk_predictions_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.asset_registry(id) ON DELETE CASCADE;


--
-- Name: risk_scores risk_scores_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.risk_scores
    ADD CONSTRAINT risk_scores_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: scan_deltas scan_deltas_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.scan_deltas
    ADD CONSTRAINT scan_deltas_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.asset_registry(id) ON DELETE CASCADE;


--
-- Name: scan_deltas scan_deltas_current_snapshot_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.scan_deltas
    ADD CONSTRAINT scan_deltas_current_snapshot_fkey FOREIGN KEY (current_snapshot) REFERENCES public.scan_snapshots(id);


--
-- Name: scan_deltas scan_deltas_previous_snapshot_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.scan_deltas
    ADD CONSTRAINT scan_deltas_previous_snapshot_fkey FOREIGN KEY (previous_snapshot) REFERENCES public.scan_snapshots(id);


--
-- Name: scan_events scan_events_scan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.scan_events
    ADD CONSTRAINT scan_events_scan_id_fkey FOREIGN KEY (scan_id) REFERENCES public.scan_jobs(id) ON DELETE CASCADE;


--
-- Name: scan_jobs scan_jobs_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.scan_jobs
    ADD CONSTRAINT scan_jobs_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: scan_snapshots scan_snapshots_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.scan_snapshots
    ADD CONSTRAINT scan_snapshots_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.asset_registry(id) ON DELETE CASCADE;


--
-- Name: scan_snapshots scan_snapshots_scan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.scan_snapshots
    ADD CONSTRAINT scan_snapshots_scan_id_fkey FOREIGN KEY (scan_id) REFERENCES public.scan_jobs(id) ON DELETE CASCADE;


--
-- Name: subdomains subdomains_domain_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.subdomains
    ADD CONSTRAINT subdomains_domain_id_fkey FOREIGN KEY (domain_id) REFERENCES public.domains(id) ON DELETE CASCADE;


--
-- Name: tls_scan_results tls_scan_results_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tls_scan_results
    ADD CONSTRAINT tls_scan_results_asset_id_fkey FOREIGN KEY (asset_id) REFERENCES public.asset_registry(id) ON DELETE CASCADE;


--
-- Name: topology_edges topology_edges_source_node_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.topology_edges
    ADD CONSTRAINT topology_edges_source_node_fkey FOREIGN KEY (source_node) REFERENCES public.topology_nodes(id) ON DELETE CASCADE;


--
-- Name: topology_edges topology_edges_target_node_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.topology_edges
    ADD CONSTRAINT topology_edges_target_node_fkey FOREIGN KEY (target_node) REFERENCES public.topology_nodes(id) ON DELETE CASCADE;


--
-- Name: users users_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 3wn5doebvKFPfUPolRnCt4FbtEPtRt2rIFhdEBOkyaAt7IurHJlGNbvq4fceyY5

